/* 重置浏览器默认样式 */
*{
	margin:0;
	padding:0;
}
ul,li{
	list-style: none;
}
/* wrap */
.wrap{
	width:1280px;
	padding: 0 10px;
	margin: 0 auto;
}
/*  header start  */
#header{
	background-color: #cdcdcd;
	
}
#LOGO{
	background-image: #cdcdcd;
	float:left;
	padding: 0 40px;
	margin-top:5px;
	
}
#nav{
	background-color: #CDCDCD;
	float:right;
	padding: 0 40px;
	margin-top:60px
}
#nav li{
	float:left;
	margin-left:40px;
}
}
/*  main start  */
#main{
	background-color: #cdcdcd;
}
/* footer start  */
#fooder{
	background-color: #cdcdcd
	
}
/* */
/* */
/* */